@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;  
  margin: 0;
  box-sizing: border-box;
}

:root{
  --font : "Poppins", sans-serif; 
  --font-color : rgb(209, 206, 206);
  --font-color-hover: gray;
  --font-extra-info: rgb(161, 158, 158);
  --name-clr : #09A093;
  --transition-time : 0.3s;
  --bg-clr : #15171B;

  --clr-border: #840133;
  --clr-border-hover: #9E013D;
  --clr-name-under: #AA123F;
  --clang-clr: #41A2C0;
  --clr-py: rgb(19, 72, 187); 
  --clr-js: #FDDD5C;

}

body{
    font-family: var(--font);
    background-color: var(--bg-clr);
}

header{
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name{
    margin-left: 1rem;
}

.name-link{
    text-decoration: none;
    color: var(--name-clr);
}

.navigation{
    display: flex;
    gap: 1rem;
}

.sect{
    list-style: none;
    transition: var(--transition-time);
}

.sect:hover{
    transform: translateY(-3px);
}

.sect-link{
    text-decoration: none;
    color: var(--font-color);
    transition: var(--transition-time);
}

.sect-link:hover{
    color: var(--font-color-hover);
}

.socials{
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.redit,.fb,.git{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.git{
    background-color: black;
}

.fa-github{
    color: white;
}

.fa-reddit{
    color: rgb(255, 69, 0);
}

.fa-facebook{
    color: rgb(24, 119, 242);
}

.fa-reddit,.fa-facebook,.fa-github{
    width: 20px;
    height: 20px;
    transition: var(--transition-time);
}

.fa-reddit:hover,.fa-facebook:hover,.fa-github:hover{
    transform: translateY(-3px);
}


/* logo and folio section  */

.intro{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.na-img{
    border-radius: 50%;
    border: 2px solid var(--clr-border);
    transition: var(--transition-time);
}

.na-img:hover{
    border: 2px solid var(--clr-border-hover);
}

.name-under{
    margin-top: 0.5rem;
    color: var(--clr-name-under);
}

.name-under-info{
    margin-top: 0.3rem;
    color:var(--font-color);
    font-size: 16px;
    text-align: center;
    width: 60ch;
}

.nAbtahi{
    color: var(--name-clr);
}

.name-under-extra-info{
    color:var(--font-extra-info) ;
    font-size: 13.5px;
}

.c,.cplus{
    color: var(--clang-clr);
}

.py{
    color: var(--clr-py);
}

.js{
    color: var(--clr-js);
}

.project{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projtitle{
    color: var(--font-color);
}

.project-demo{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
    align-items: center;
    grid-gap: 1rem;
}

.space,.snake,.website{
    width: 100%;
    height: 100%;
}

.space-link{
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.snake-link{
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;

}

.website-link{
    width: 100%;
    height: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.space,.snake,.website{
    transition: var(--transition-time);
    cursor: pointer;
    border-radius: 30px;
    border: 2px solid whitesmoke;
}


.space:hover,.snake:hover,.website:hover{
    transform: translateY(-3px);
}


@media (max-width: 618px) {
    .name{
        font-size: 22px;
    }

    .sect{
        font-size: 14px;
    }

    .na-img{
        width: 206px;
        height: 206px;
    }

    .name-under{
        font-size: 22px;
    }

    .projtitle{
        font-size: 22px;
    }

    .name-under-info{
        font-size: 14px;
    }

    .name-under-extra-info{
        font-size: 11.5px;
    }
    
    .redit,.fb,.git{
        width: 25px;
        height: 25px;
    }

    .fa-reddit,.fa-facebook,.fa-github{
        width: 15px;
        height: 15px;
    }

    .project-demo{
        grid-template-columns: 250px 250px;
        grid-template-rows: 250px 250px;
    }

}

@media (max-width: 518px) {
    .name{
        font-size: 20px;
    }

    .na-img{
        width: 156px;
        height: 156px;
    }

    .name-under{
        font-size: 21px;
    }

    .projtitle{
        font-size: 21px;
    }

    .name-under-info{
        font-size: 13px;
    }

    .name-under-extra-info{
        font-size: 10.5px;
    }

    .redit,.fb,.git{
        width: 23px;
        height: 23px;
    }

    .fa-reddit,.fa-facebook,.fa-github{
        width: 13px;
        height: 13px;
    }

    .project-demo{
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px;
    }

    .fa-reddit:hover,.fa-facebook:hover,.fa-github:hover{
        transform: translateY(0px);
    
    }
    .sect:hover{
        transform: translateY(0px);
    }

    .space:hover,.snake:hover,.website:hover{
        transform: translateY(0px);
    }
}

@media (max-width: 482px){

    .na-img{
        width: 131px;
        height: 131px;
    }

    .name-under{
        font-size: 19px;
    }

    .projtitle{
        font-size: 19px;
    }

    .name-under-info{
        font-size: 11px;
    }

    .name-under-extra-info{
        font-size: 8.5px;
    } 
}

@media (max-width: 418px) {
    .sect{
        font-size: 13px;
    }
    
    .name{
        font-size: 18px;
    }

    .na-img{
        width: 106px;
        height: 106px;
    }

    .name-under{
        font-size: 18px;
    }

    .projtitle{
        font-size: 18px;
    }

    .name-under-info{
        font-size: 10.5px;
    }

    .name-under-extra-info{
        font-size: 8px;
    }

    .redit,.fb,.git{
        width: 22px;
        height: 22px;
    }

    .fa-reddit,.fa-facebook,.fa-github{
        width: 12px;
        height: 12px;
    }

    .project-demo{
        grid-template-columns: 175px 175px;
        grid-template-rows: 175px 175px;
    }
}